/* ===== 全局基础样式 ===== */
/* 导入 CSS 变量定义 */
@import './variables.css';

/* 重置所有元素的盒模型为 border-box */
* {
  box-sizing: border-box;
}

/* 重置 body 和 html 的默认样式 */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}